@import "defaults/defaults.css";


header {
	display: flex;
	justify-content: center;
}


main {
	display: flex;
	justify-content: center;
	align-items: center;

}

.inventory {
	display: flex;
}

td {
	text-align: center;
	padding: .1rem .5rem;
	animation: bounceIn forwards 500ms;
}

tbody tr:nth-of-type(even) {
	background: var(--dark-color);
	color: var(--light-color)
}

th {
	border: 1px solid black;
}

#reloadInventory {
	height: 100%;
}
