@import "defaults/defaults.css";

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#map {
	width: 1000px;
	height: 500px;
	border: 1px solid black;
}

#map-options {
	display: flex;
	justify-content: space-between;
	padding: .5rem 0;
}

.popup {

}

.popup .popup-img {
	width: 100%;
}