@import "../defaults/defaults.css";
@import "vars.css";

@import "anims.css";
@import "crt.css";

@font-face {
	font-family: 'Konami';
	src: url("../../assets/fonts/KonSystem-YB8j.ttf");
}


* {
	font-family: lores-15, sans-serif;
	font-weight: 700;
	font-style: normal;
}

body {
	background: var(--main-bg);
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	overflow: hidden;
	padding: 3em;
}

html {
	color: white;
}

header {
	position: absolute;
	padding: 1em;
	display: inline-flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
}

h1, h2 {
	margin: 0;
}

img {
	max-width: 75%;
}

svg {
	display: none;
}

#step {
	font-size: 10vmax;
	margin: 0;
}


.konami {
	font-size: 3rem;
	margin: 0;
	font-family: Konami, sans-serif;
}

.konami-japanese {
	display: inline-block;
	font-family: Noto Sans JP, serif;
	writing-mode: vertical-lr;
}







