:root {
	--crt-bg: blue;
	--main-bg: #1A1919;

	/*---CRT---*/
	--flicker-amt: .1;
	--flicker-duration: 1s;
	--channel-wiggle-duration: .05s;
	--channel-wiggle-amt-x: 20px;
	--channel-wiggle-amt-y: 2px;
	--crt-border-radius: 10px;

}