
:root {
	--dawn-gradient: linear-gradient(0deg, rgba(52, 54, 88, 1) 0%, rgba(202, 166, 104, 1) 35%, rgba(210, 221, 188, 1) 83%, rgba(143, 207, 249, 1) 100%);
	--day-gradient: linear-gradient(0deg, rgba(148, 187, 233, 1) 0%, rgba(60, 129, 209, 1) 100%);
	--dusk-gradient: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(222, 29, 29, 1) 61%, rgba(252, 176, 69, 1) 100%);
	--night-gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(50, 0, 78, 1) 28%, rgba(57, 25, 172, 1) 100%);
}

@keyframes gradient {
	0% {
		filter: brightness(100%);
	}
	100% {
		filter: brightness(0%) contrast(150%);
	}
}


#bg {
	position: absolute;
	top: 0;
	left: 0;
	inset: 0;
	z-index: -1;
}

/* All bg gradients */
#bg [id*="gradient"] {
	position: absolute;
	inset: 0;
	min-height: 100vh;
}

#dawn-gradient {
	background: var(--dawn-gradient);

}

#day-gradient {
	background: var(--day-gradient);
}

#dusk-gradient {
	background: var(--dusk-gradient)
}

#night-gradient {
	background: var(--night-gradient);
}


.gradient-fadeOut {
	animation: fadeIn 3s forwards;
}

.gradient-fadeOut {
	animation: fadeOut 3s forwards;
}

#clouds {
	position: absolute;
	inset: 0;
	background: url("../../img/weather_map/clouds.jpg") bottom right;
	background-size: cover;
	mix-blend-mode: screen;
	/*filter: blur(25px);*/
	/*animation: gradient 5s forwards;*/

}


#stars {
	position: absolute;
	inset: 0;
	background-image: url("../../img/weather_map/stars-2.jpg");
	background-size: cover;
	background-position: bottom left;
	mix-blend-mode: screen;
	filter: contrast(120%);


}

