
:root {
	--dawn-gradient: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(222, 29, 29, 1) 61%, rgba(252, 176, 69, 1) 100%);
	--night-gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(50, 0, 78, 1) 28%, rgba(57, 25, 172, 1) 100%);
}

@keyframes gradient {
	0% {
		/*background-position: 0 0;*/
		filter: brightness(100%);
	}
	100% {
		/*background-position: 100% 100%;*/
		filter: brightness(0%) contrast(150%);
	}
}

@keyframes stars {
	0% {
		background-size: 100% 100%;
		background-position: 0 0;
	}
	100% {
		background-size: 125% 125%;
		background-position: 100% 125%;
	}
}


#bg {
	position: absolute;
	top: 0;
	left: 0;
	inset: 0;
	z-index: -1;
}

#bg-gradient {
	position: absolute;
	inset: 0;
	background: rgb(131, 58, 180);
	background: var(--dawn-gradient);
	background-size: 110% 110%;
	min-height: 100vh;
	/*animation: gradient 5s forwards;*/
}

#clouds {
	position: absolute;
	inset: 0;
	background: url("../../img/weather_map/clouds.jpg");
	background-size: cover;
	mix-blend-mode: screen;
	/*animation: gradient 5s forwards;*/


}

#stars {
	position: absolute;
	inset: 0;
	background-image: url("../../img/weather_map/stars-2.jpg");
	background-size: cover;
	background-position: bottom left;
	mix-blend-mode: screen;
	animation: stars 25s infinite alternate ease-in-out;
	filter: contrast(120%);


}

