@import "../defaults/defaults.css";
@import "anims.css";
@import "bg.css";
@import "map.css";

body {

	position: relative;
	animation: none;
	margin: 0;
}

nav {
	position: relative;
	padding: 0 .5rem;
}

main {
	position: relative;
	display: flex;
	overflow-x: hidden;
	min-height: 100vh;
}


#forecast {
	display: flex;
	width: 100%;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	filter: contrast(125%);
	justify-content: space-between;
}

#today-forecast {
	display: flex;
	gap: .2rem;
	padding: 2rem;
	flex-direction: column;
}

#today-card {
	display: flex;
	align-items: flex-end;
	gap: 1rem;
	animation: fadeIn 500ms;

}

#today-card .temp {
	font-size: 3em;
	font-weight: bold;
}

#today-card .location {
	font-size: 2vmax;
}


#today-card .ltd-container {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr);
}

#today-card .ltd-container .location {
	grid-column: span 2;
}


#forecast #forecast-daily-cards {
	display: flex;
	flex-wrap: wrap;
	/*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/

	width: 100%;
	gap: 2rem;
	padding: 1rem;
}


#forecast .day-card {
	display: flex;
	align-items: center;
	opacity: 0;
	animation: fadeIn 500ms forwards;
	animation-delay: calc(250ms * var(--delay));
	width: 100%;


	--gap: .5rem;
}

#forecast-daily-cards .day-card > * {
	position: relative;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	display: flex;
}

#forecast-daily-cards .day-card > *:not(:last-child)::after {
	position: relative;
	content: '';
	margin: 0 1rem;

	background-color: rgb(var(--fg-color));
	width: 100%;
	height: .25rem;
}


#forecast-daily-cards .day-card .desc-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--gap);
}

#forecast-daily-cards .day-card .day {
	min-width: 50%;
	padding: .25rem;
	text-transform: uppercase;
}

#forecast-daily-cards .day-card .temp {
	font-size: 2rem;

}


#hourly-controls input {
	width: 100%;
}

#open-map i {
	font-size: 2rem;
}

.weather-icon svg {
	width: 2.5rem;
}

.weather-icon svg * {
	stroke: rgb(var(--fg-color));
	fill: rgb(var(--fg-color));
}

datalist option {
	font-size: 1.5vmax;
}

@media only screen and (min-width: 768px) {
	#forecast .day-card {
		flex-direction: column;
		gap: .1rem;
		width: auto;

	}

	#today-forecast .desc-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#forecast-daily-cards {
		justify-content: space-around;
	}

	#forecast-daily-cards .day-card .desc-container {
		flex-direction: column;
		align-items: flex-start;
	}

	#forecast-daily-cards .day-card > *:not(:last-child)::after {
		display: none;
	}


}