@import "../defaults/defaults.css";
@import "bg.css";


body {
	animation: none;
	margin: 0;
	height: 100vh;
}

nav {
	position: relative;
	padding: 0 .5rem;
}

main {
	position: relative;
	display: flex;
	height: 100%;
}


#forecast {
	display: flex;
	width: 100%;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	filter: contrast(125%);
	justify-content: flex-end;
}

#forecast #today-forecast {
	display: flex;
	gap: .1rem;
	flex-basis: 100%;
	padding: 2rem;
	flex-direction: column;
}

#forecast #today-forecast .time {
	font-size: 3rem;
}

#forecast #today-forecast .temp {
	font-size: 2rem;
}

#forecast #today-forecast .temp::after {
	content: '°';
}


#forecast #forecast-daily-cards {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: flex-end;
	gap: 1rem;
	padding: 0 1rem 1rem 1rem;
}

#forecast .day-card {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 10em;
	backdrop-filter: blur(25px);
	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .1);
	padding: 1rem;
}

#forecast .day-card .day {
	background-color: rgba(0, 0, 0, .25);
	padding: .25rem;
	text-transform: uppercase;
}

#forecast .day-card .temp {
	font-size: 2rem;

}


#forecast-controls {
	display: flex;
	color: rgba(0, 0, 0, 0.75);

	justify-content: center;
	padding: 1rem;
	box-shadow: inset 0 0 10em 0 rgba(0, 0, 0, .05);
	backdrop-filter: blur(10px);
	width: 30%;
	height: 100%;
}

#forecast-controls .heading * {
	margin: 0;

}

datalist {
	display: flex;
	justify-content: space-between;
	color: var(--bs-primary);
	width: 50%;
}
