#map {
	width: 25vmax;
	height: 25vmax;
	border-radius: 50%;
}

#map-container {
	position: absolute;

	backdrop-filter: blur(25px);
	height: 100vh;
	padding: 1rem;
	right: 0;
	transform: translateX(100%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 500ms;
}

#map-container.show {
	transform: translateX(0%);
}

#map-container #geocoder {
	position: relative;
	top: 5vmax;


}

#map-container .exit {
	position: absolute;
	top: .25rem;
	left: .25rem;
}

#map-container .exit:hover {
	cursor: pointer;

}