#open-map i {
	font-size: 3vmin !important;
}

#map-container {
	position: fixed;
	backdrop-filter: blur(25px);
	box-shadow: inset 0 0 100px 0 hsl(0 0% 0% / .1);
	height: 100vh;
	width: 100vmin;
	padding: 1rem;
	right: 0;
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 500ms;
}

@supports not (backdrop-filter: blur(25px)) {
	#map-container {
		background-color: var(--bg-color);
	}
}

#map {
	width: 75vmin;
	height: 75vmin;
	border-radius: 50%;
}

#map-container.show {
	transform: translateX(0%);
}

#map-container #geocoder {
	position: relative;
	top: 5vmax;
}

#map-container .exit {
	position: absolute;
	top: 0;
	left: 0;
	padding: .75rem 0 0 1rem;
}

#map-container .exit:hover {
	cursor: pointer;
}

#map-container .exit i {
	font-size: 3rem;
}