body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-wrap: wrap;
	background-color: #141414;
}

.dialogContainer {
	display: flex;
	flex-wrap: wrap;
	overflow-wrap: anywhere;
	position: absolute;
	width: 25%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	padding: 1.25em;
	box-shadow: 0 0 200px rgba(255, 255, 255, .25);
}

.dialogContainer .dialogTitle {
	margin: 0;
}

.dialogButton {
	background-color: white;
	border: none;
	padding: 1em;
	width: 50%;
	margin: 1em;
}

.dialogButton:hover {
	cursor: pointer;
	opacity: .75;
}